<style>
:root{
  color-scheme: light dark;
}

.body{
  display: grid;
  justify-content: center;
  text-align: center;
}

.container{
  text-align: center;
  justify-content: center;
}

.container img{
  border-radius: 15%;
  width: 200;
  margin: 0 auto;
  display: block;
  transition: .3s ease-in-out;
}
</style>